alias cfg="dotbare"
alias cfgs="dotbare fstat"
alias cat="bat"
alias vim="nvim"
alias v="vim"
alias lv="$HOME/.local/bin/lvim"
alias awsp="nu aws shared-role-credentials web-console --account-alias=br"
