alias cfg="dotbare"
alias cfgs="dotbare fstat"
alias cat="bat"
alias vim="nvim"
alias v="vim"
alias hc="hyprctl"
alias ys="yay"
alias yi="yay -S"
alias yr="yay -Rns"
alias yu="yay -Sua"
alias yc="yay -Yc"
alias hc="hyprctl"
