[user]
	name = Matheus Ashton Silva
	email = matheusashton@gmail.com
[core]
	excludesfile = $HOME/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit
	fs = flow feature start
	ff = flow feature finish
	fp = flow feature publish
	rs = flow release start
	rf = flow release finish
	hs = flow hotfix start
	hf = flow hotfix finish
	log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	tags = tag -l --sort=-v:refname
	pc = push origin HEAD
[color]
        ui = auto
	diff = auto
	status = auto
	branch = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = green
        changed = yellow
        untracked = blue
[push]
	default = simple
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge --skip %f
	process = git-lfs filter-process --skip
	clean = git-lfs clean -- %f
	required = True
